.edit_image {
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.delete_image {
    height: 20px;
    width: 20px;
    margin-left: 40px;
    cursor: pointer;
}

.main_add_section {
    width: 100vh;
    display: flex;
}